// SPDX-FileCopyrightText: 2024 Devin Lin <devin@kde.org>
// SPDX-License-Identifier: LGPL-2.1-or-later

.applications-section {
  line-height: 1.3;
  padding: 50px 0;

  .application-name {
    display: block;
    margin-top: 10px;
    font-weight: 700;
  }

  .hyphens {
    hyphens: auto;
    font-size: 14px;
    opacity: 0.8;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 1.1;
    padding: 20px 0;

    h2 {
      margin-bottom: 20px;
    }
  }
}