// SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
// SPDX-License-Identifier: CC0-1.0 

@font-face {
  font-family: 'Noto Sans Light';
  src: url(/fonts/NotoSans-Light.ttf);
}

@font-face {
  font-family: 'Noto Sans Medium';
  src: url(/fonts/NotoSans-Medium.ttf);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inter.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 36px;
}

h2 {
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 2;
}

h3 {
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-size: 22px;
}

h4 {
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-size: 18px;
}

h5 {
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-size: 18px;
}

h6 {
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-size: 16px;
}

body {
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-size: 16px;
}

.jumbotron {
  background-color: hsl(200, 68%, 90%);
  color: hsla(200, 67.5%, 20%, 1.0);
  padding: 2rem 0;
  margin-bottom: 2rem;
}

@media (prefers-color-scheme: dark) {
  .jumbotron {
    background-color: rgba(61, 174, 233, 0.1);
    color: white;
  }
}

.content-width {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .content-width {
    max-width: 540px;
    padding: 1em;
  }
}

.page-header {
  font-weight: 700;
}

.mobile-main-button {
  padding: .75rem 1.2rem .75rem 1.2rem;
  background-color: hsla(200, 80%, 40%, 1.0);
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-feature-settings: normal;
  line-height: 1.5rem;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.mobile-main-button:hover {
  background-color: hsla(200, 80%, 20%, 1.0);
}

.mobile-secondary-button {
  padding: .75rem 1.2rem .75rem 1.2rem;
  background-color: hsl(200, 90%, 80%);
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-feature-settings: normal;
  line-height: 1.5rem;
  color: hsla(200, 80%, 35%, 1.0);
  font-size: 16px;
  font-weight: 600;
}

.mobile-secondary-button:hover {
  background-color: hsl(200, 50%, 65%);
}

.mobile-button-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}