// SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
// SPDX-License-Identifier: CC0-1.0
main figure {
  width: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30em);
  grid-gap: 3em 2em;
  // grid-auto-rows: 1fr;
}

.project {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.project-name {
  font-weight: 700;
  font-size: 16px;
}

.project-name > a {
  color: inherit;
  text-decoration: underline dotted;
}

.project-description {
  font-size: 14px;
  flex-grow: 1;
}

.project-buttons-row {
  margin-top: 1em;
}

.project-logo {
  height: 50px;
  align-self: start;
}