{{/*
  SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
  SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
  SPDX-FileCopyrightText: 2024 Devin Lin <devin@kde.org>
  SPDX-License-Identifier: LGPL-2.1-or-later
  */}}  

<section class="applications-section">
  <div class="container">
    <div class="applications row align-items-stretch">
      {{ $appData := slice }}
      {{ range site.Data.applications }}
        {{ $app := getJSON . }}
        {{ $id := index $app "ID" }}
        {{ $localizedName := index $app.Name site.Language.Lang | default $app.Name.en }}
        {{ $allGenericNames := index $app "X-KDE-GenericName" }}
        {{ $genericName := index $allGenericNames site.Language.Lang | default $allGenericNames.en }}
        {{ $appData = $appData | append (dict "id" $id "localizedName" $localizedName "genericName" $genericName) }}
      {{ end }}
      {{ range sort $appData "localizedName" }}
        <div class="app text-center col-6 col-sm-4 col-md-3 col-lg-2 p-2">
          <div class="p-2 h-100">
            <div aria-hidden="true">
              <a href="https://apps.kde.org{{ .id | relLangURL }}">
                <img src="https://apps.kde.org/app-icons/{{ .id }}.svg" loading="lazy" alt="{{ .localizedName }}" width="64" height="64">
              </a>
            </div>
            <a class="application-name" href="https://apps.kde.org{{ .id | relLangURL }}">
              {{ .localizedName }}
            </a>
            <p class="hyphens">
              {{ .genericName }}
            </p>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>